<div style="display: none;" id="hidden-content">
    <h2>Send Test SMS</h2>
    <p>You are about to send a test SMS to the number below using the settings in this page</p>
    <p>Don’t forget to save the setting when you are done.</p>

    <hr>

    <form id="quicktest-form" v-on:submit.prevent="submit_the_form">

        <div class="form-group">
            <label for="sms-to">Number:</label>
            <input id="sms-to" type="text" v-model="sms_to" class="form-control" placeholder="Enter your mobile number" />
        </div>

        <div class="form-group">
            <label for="sms-body">Message:</label>
            <textarea id="sms-body" v-model="sms_body" cols="30" rows="10" class="form-control" placeholder="Your text message"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-danger ladda-button" data-style="zoom-in" id="send-sms-btn">Send SMS</button>
            <button type="reset" class="btn btn-default" v-on:click="reset_the_form">Clear</button>
        </div>

        <div class="alert alert-success"  v-if="success_message_visible" v-text="success_message"></div>
        <div class="alert alert-danger"   v-if="failure_message_visible" v-text="failure_message"></div>
    </form>

</div>