<div class="tab-pane" id="tab-sms-templates">
    <fieldset>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            {{ fragment_variables_general }}

            {{ fragment_variables_products }}

            {{ fragment_sms_templates_customer }}

            {{ fragment_sms_templates_admin }}

        </div>
    </fieldset>
</div>