<div class="pull-right">
    <button type="button" class="btn btn-success" quicktest-launcher>
        <i class="fa fa-paper-plane"></i> Quick Test
    </button>
    <button type="submit" form="tv-module-form" name="submit_btn" value="save-and-stay" data-toggle="tooltip" title="{{ button_save_and_stay }}" class="btn btn-primary"><i class="fa fa-legal"></i> Save & stay</button>
    <button type="submit" form="tv-module-form" name="submit_btn" value="save-and-exit" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i> Save & exit</button>
    <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i> Exit</a>
</div>