<div class="form-group">
    <label class="{{ css_class_left }} control-label" for="pws-notify-by-sms" title="{{ extension_identifier }}">{{ smshare_entry_notify_by_sms_label }}</label>
    <div class="{{ css_class_right }}">
        <div class="checkbox">
            <input type="checkbox" name="pws_notify_by_sms" value="1" id="pws-notify-by-sms"/>
        </div>
    </div>
</div>