@media (min-width:992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: right;
    }
}
@media (min-width:768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: right;
    }
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    float:right;
}
.pull-left{
    float:right !important;
}
.pull-right{
    float:left !important;
}
.list-unstyled {
    padding-right: 0;
}
.text-right{
    text-align: left;
}
.text-left{
    text-align: right;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"]{
    float: left;
    margin-left: 0;
}
.checkbox label, .radio label {
    padding-left: 0;
    padding-right: 20px;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: auto;
    margin-right: -20px;
}
.list-inline{
    padding-right: 0;
    margin-right: -5px;
    margin-left: 0;
}
.dropdown-menu{
    text-align: right;
}
.nav-tabs > li {
    float: right;
}
.dropdown-menu.pull-right {
    left: 0;
    right: auto;
}
.checkbox-inline, .radio-inline {
    padding-right: 20px;
    padding-left: 0;
}
#top #form-currency .currency-select, #top #form-language .language-select {
    text-align: right;
}
.nav{
    padding-right: 0;
}
.dropdown-menu-right {
    left: 0 !important;
    right: auto !important;
}
.product-thumb .button-group{
    direction: rtl;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.leftpro .caption{
    direction: rtl;
}
.select-input::after {
    right: auto;
    left: 10px;
}
/* header */
.ct{
    text-align: right;
}
.head-social li {
    margin-left: 10px;
    margin-right: auto;
}
#menu img {
    margin-left: 10px;
    margin-right: auto;
}
/*common home */
@media(min-width: 768px){
    .enangle {
        float: left;
    }
    #menu li a:hover .enangle {
        transform: rotate(90deg);
    }
    #menu .dropdown-menu {
        left: auto !important;
        right: 100%;
    }
}
.pro-nepr .owl-theme .owl-controls .owl-buttons .owl-prev {
    right: auto;
    left: 0px;
}
.pro-nepr .owl-theme .owl-controls .owl-buttons .owl-next {
    left: 35px;
    right: auto;
}
.pro-bg .nav-tabs {
    margin-left: 90px;
    margin-right: 0;
}
.salepro {
    right: 20px;
    left: auto;
}
.pwish {
    left: 20px;
    right:auto;
}
/* footer */
footer .f-left li i {
    padding-left: 10px;
    padding-right: 0;
}
#scroll {
    right:auto;
    left: 10px;
}
/* product page */
.breadcrumb > li:first-child {
    padding-right: 0;
    padding-left: 20px;
}
.zoomWindow {
    right: 420px;
    left: auto !important;
}
@media(max-width: 1400px){
    .zoomWindow {
        right: 410px;
        left: auto !important;
    }
}
@media(max-width: 992px) and (max-width: 1199px){
    .zoomWindow {
        right: 335px;
        left: auto !important;
        width: 300px !important;
        height: 300px !important;
    }
}
.productwish button {
    margin-left: 10px;
    margin-right: 0;
}
.productwish {
    left: 25px;
    right: auto;
}
.breadcrumb > li::after {
    right: auto;
    left: 0;
    -webkit-transform: rotate(133deg);
    -moz-transform: rotate(133deg);
    -o-transform: rotate(133deg);
    transform: rotate(133deg);
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-right: -20px;
}
.checkbox label, .radio label {
    padding-right: 20px;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"] {
    float: right;
    right: 0;
    margin-right: 0;
}
.datebtn {
    border-radius: 6px 0px 0px 6px !important;
}
.btnminus {
    border-radius: 0px 4px 4px 0px !important;
    border-right: 1px solid #ebebeb;
}
.btnplus {
    border-radius: 4px 0px 0px 4px !important;
    border-left: 1px solid #ebebeb;
}
.prorate {
    border-left: 1px solid #003050;
    border-right: 0;
    margin: 0px 0;
}
.proreview {
    border-left: 1px solid #003050;
    border-right: 0;
}
.a2a_default_style a {
    float: right !important;
}
@media(max-width: 406px){
    .rating .col-xs-4{
        text-align: right !important;
    }
}
/* category page */
@media(min-width: 768px){
    .product-list .product-thumb .image {
        float: right;
        margin-right: auto;
        margin-left: 15px;
    }
    .product-list .product-thumb .caption {
        text-align: right;
    }
    .product-list .product-thumb .button-group {
        text-align: right;
        margin-left: 10px;
        margin-right: auto;
    }
}
.catesort select.form-control {
    background-position: left;
}
.alert .close{
    left: 0;
    right: auto;
    float: left;
}
.news-popup .form-control {
    float: left;
}
.news-popup .button-submit{
    clear: both;
    padding-top: 10px;
}
.news-popup .checkbox input[type="checkbox"]{
    float: left;
    left: 0;
    right: auto;
    margin-left: 0;
}
/* responsive */
@media(min-width: 600px) and (max-width: 767px){
    #compare-total {
        font-size: 14px;
    }
}
@media(max-width: 767px){
    .ct {
        text-align: left;
    }
    .mcart {
        right: auto;
        left: 0;
    }
    #menu {
        right: 0;
        left: auto;
    }
    .sidenav {
        right: 0;
        left: auto;
        text-align: right;
    }
    .closebtn {
        float: left;
    }
    .navbar-toggle {
        margin-right: auto;
        margin-left: 15px;
    }
    footer h5 .toggle.collapsed::after,footer h5 .toggle::after {
        float: left;
    }
}
.foot-app ul{
    padding-right: 30px;
    padding-left: 0;
}
#menu{
    border: none;
}
.sb-theme-list-grid button{
    padding: 6.5px 11px 8px 11px !important;
}
#top .inspire-account ul li{
    text-align: right;
}
#top .inspire-account .dropdown-menu{
    min-width: 120px;
}